# Docker Compose for Normal MapReduce Runs
# Usage: docker-compose up
#
# This is the default configuration for running MapReduce jobs.
# Uses sample.txt by default. Modify --input for different files.

services:
  master:
    build: .
    container_name: mapreduce_master
    command: python3 -m src.master.server --input data/input/sample.txt --chunk-size 100 --reduce-tasks 3
    ports:
      - "50051:50051"
    networks:
      - mapreduce_net
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./src:/app/src
      - ./protos:/app/protos
      - ./data:/app/data

  worker1:
    build: .
    container_name: mapreduce_worker1
    command: >
      sh -c "sleep 3 && python3 -m src.worker.client worker1"
    depends_on:
      - master
    networks:
      - mapreduce_net
    environment:
      - PYTHONUNBUFFERED=1
      - MASTER_ADDRESS=master:50051
    volumes:
      - ./src:/app/src
      - ./protos:/app/protos
      - ./data:/app/data
      - ./intermediate:/app/intermediate

  worker2:
    build: .
    container_name: mapreduce_worker2
    command: >
      sh -c "sleep 3 && python3 -m src.worker.client worker2"
    depends_on:
      - master
    networks:
      - mapreduce_net
    environment:
      - PYTHONUNBUFFERED=1
      - MASTER_ADDRESS=master:50051
    volumes:
      - ./src:/app/src
      - ./protos:/app/protos
      - ./data:/app/data
      - ./intermediate:/app/intermediate

  worker3:
    build: .
    container_name: mapreduce_worker3
    command: >
      sh -c "sleep 3 && python3 -m src.worker.client worker3"
    depends_on:
      - master
    networks:
      - mapreduce_net
    environment:
      - PYTHONUNBUFFERED=1
      - MASTER_ADDRESS=master:50051
    volumes:
      - ./src:/app/src
      - ./protos:/app/protos
      - ./data:/app/data
      - ./intermediate:/app/intermediate

networks:
  mapreduce_net:
    driver: bridge